*
{
  margin:0;
  box-sizing: border-box;
}

.App
{
  min-height: 100vh;
  min-width: 100vw;

  height: auto;
  width: auto;
}


/* .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
} */


.arc text {
  color: white;
  font: 15px sans-serif;  
  text-anchor: middle;
  margin-left: 15px;
}

/* .arc path {
  stroke: #fff;
} */

/* .title {
  fill: teal;
  font-weight: bold;
} */

.analytics__page{
  display: flex;
  flex-direction: column;
}

:root::-webkit-scrollbar {
  display: none;
}

#analytics-page::-webkit-scrollbar {
  display: none;
}

.card::-webkit-scrollbar {
  display: none;
}

.social_links_container::-webkit-scrollbar {
  display: none;
}

.activity-list::-webkit-scrollbar {
  display: none;
}

.activity-link-stats-list::-webkit-scrollbar {
  display: none;
}

.edit-profile-section::-webkit-scrollbar {
  display: none;
}